<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="Circulo" class="com.example.springcoreshapes.Circle">
        <constructor-arg name="radius" value="5" />
    </bean>

    <bean id="Rectangulo" class="com.example.springcoreshapes.Rectangle">
        <constructor-arg name="length" value="5" />
        <constructor-arg name="width" value="5" />
    </bean>

    <bean id="Triangulo" class="com.example.springcoreshapes.Triangle">
        <constructor-arg name="base" value="4" />
        <constructor-arg name="height" value="4" />
    </bean>

</beans>
