<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="HolaMundo" class="com.example.demowebprojectee.HolaMundo">
        <property name="message" value="Hola Mundo spring!!" />
    </bean>
    <bean id="HolaMundo2" class="com.example.demowebprojectee.HolaMundo">
        <constructor-arg name="message" value="Hola Mundo spring con parametro!!" />
    </bean>
    <bean id="HolaMundo3" class="com.example.demowebprojectee.HolaMundo">
        <constructor-arg name="message" value="Hola Mundo spring con doble parametro!!" />
        <constructor-arg name="despedida" value="Chao Mundo spring con doble parametro!!" />
    </bean>
    <!-- Constructor vacío -->
    <bean id="Arte" class="com.example.demowebprojectee.Arte">
    </bean>
    <!--Inyección por contructor -->
    <bean id="Arte1" class="com.example.demowebprojectee.Arte">
        <constructor-arg name="art_id" value="A01" />
        <constructor-arg name="art_title" value="La Noche estrellada" />
        <constructor-arg name="artista_name" value="Vincent van Gogh" />
    </bean>
    <!--Inyección por Setter -->
    <bean id="Arte2" class="com.example.demowebprojectee.Arte">
        <property name="art_id" value="A02" />
        <property name="art_title" value="La ultima cena" />
        <property name="artista_name" value="Leonardo Da Vinci" />
    </bean>

    <!--Inyección por contructor de Blog -->
    <bean id="Blog" class="com.example.demowebprojectee.MyBlogs">
        <constructor-arg name="blogName" value="blog.Constructoricesi.edu.co" />
    </bean>

    <!--Inyección por Setter de Blog -->
    <bean id="Blog1" class="com.example.demowebprojectee.MyBlogs">
        <property name="blogName" value="blog.Parametroicesi.edu.co" />
    </bean>

</beans>
